In [34]:
# 'dataset' holds the input data for this script

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report
from sklearn.model_selection import train_test_split

dataset = pd.read_excel('Company.xlsx')

condition1 = 2021
data = dataset[dataset['year'] == condition1]

condition2 = 2022
data1 = dataset[dataset['year'] == condition2]
data_2022_sp = data1.iloc[:, :-1]
data_2022_sp = data_2022_sp[['monthnum', 'year', 'cust id', 'units', 'cost_per_unit', 'sales_cost', 'staff_qty', 'per_staff', 'staff_cost']]
data_2022_trgt = data1.iloc[:,-1]



# Define the features (X) and target variable (y)
X = data[['monthnum', 'year', 'cust id', 'units', 'cost_per_unit', 'sales_cost', 'staff_qty', 'per_staff', 'staff_cost']]
y = data['Customer_type']  # Assuming 'Customer_Type' represents the customer types (1, 2, 3, 4)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create classifiers
classifiers = {
    'Random Forest': RandomForestClassifier(n_estimators=100, random_state=42),
    'Decision Tree': DecisionTreeClassifier(random_state=42),
    'SVM': SVC(kernel='linear', random_state=42),
    'K-Nearest Neighbors': KNeighborsClassifier(n_neighbors=5),
    'Logistic Regression': LogisticRegression(random_state=42),
    'Gradient Boosting': GradientBoostingClassifier(n_estimators=100, random_state=42)
}

best_classifier = None
best_accuracy = 0.0

# Store the metrics of all classifiers
metrics = {}
best_predictions_2022 = None

for name, clf in classifiers.items():
    # Train the classifier
    clf.fit(X_train, y_train)
    
    # Make predictions for 2022 data
    predictions_2022 = clf.predict(data_2022_sp)
    
    # Generate a classification report for precision, recall, and F1 score for each customer type
    report = classification_report(data_2022_trgt, predictions_2022, target_names=['Customer Type 1', 'Customer Type 2', 'Customer Type 3', 'Customer Type 4'], output_dict=True)
    
    print(f"Classifier: {name}")
    print("Classification Report:")
    print(pd.DataFrame(report).transpose())
    print("\n")

    # Calculate evaluation metrics for the model
    accuracy = accuracy_score(data_2022_trgt, predictions_2022)
    #precision = precision_score(data_2022_trgt, predictions_2022, average='weighted')
    #recall = recall_score(data_2022_trgt, predictions_2022, average='weighted')
    #f1 = f1_score(data_2022_trgt, predictions_2022, average='weighted')
   

    # Check if this classifier has the highest accuracy so far
    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_classifier = clf
        best_predictions_2022 = predictions_2022
        

# Convert best_predictions_2022 to a DataFrame with a meaningful column name
best_predictions_2022_df = pd.DataFrame({'Best_Predictions_2022': best_predictions_2022})

# Reset the index of data_2022_sp and data_2022_trgt to ensure they have the same index
data_2022_sp.reset_index(drop=True, inplace=True)
data_2022_trgt.reset_index(drop=True, inplace=True)

# Concatenate data_2022_sp, data_2022_trgt, and best_predictions_2022_df horizontally
concatenated_df = pd.concat([data_2022_sp, data_2022_trgt, best_predictions_2022_df], axis=1)

# Now, concatenated_df contains data_2022_sp, data_2022_trgt, and best_predictions_2022 in one DataFrame
# You can save or further analyze this concatenated DataFrame as needed
concatenated_df

Classifier: Random Forest
Classification Report:
                 precision    recall  f1-score    support
Customer Type 1   1.000000  1.000000  1.000000   8.000000
Customer Type 2   1.000000  0.185185  0.312500  27.000000
Customer Type 3   0.440000  1.000000  0.611111  22.000000
Customer Type 4   1.000000  0.666667  0.800000  18.000000
accuracy          0.626667  0.626667  0.626667   0.626667
macro avg         0.860000  0.712963  0.680903  75.000000
weighted avg      0.835733  0.626667  0.590426  75.000000


Classifier: Decision Tree
Classification Report:
                 precision    recall  f1-score    support
Customer Type 1   1.000000  1.000000  1.000000   8.000000
Customer Type 2   0.000000  0.000000  0.000000  27.000000
Customer Type 3   0.372881  1.000000  0.543210  22.000000
Customer Type 4   1.000000  0.444444  0.615385  18.000000
accuracy          0.506667  0.506667  0.506667   0.506667
macro avg         0.593220  0.611111  0.539649  75.000000
weighted avg      0.456045  0.506667  0.413701  75.000000


Classifier: SVM
Classification Report:
                 precision    recall  f1-score    support
Customer Type 1   1.000000  1.000000  1.000000   8.000000
Customer Type 2   1.000000  0.185185  0.312500  27.000000
Customer Type 3   0.440000  1.000000  0.611111  22.000000
Customer Type 4   1.000000  0.666667  0.800000  18.000000
accuracy          0.626667  0.626667  0.626667   0.626667
macro avg         0.860000  0.712963  0.680903  75.000000
weighted avg      0.835733  0.626667  0.590426  75.000000


Classifier: K-Nearest Neighbors
Classification Report:
                 precision    recall  f1-score    support
Customer Type 1   1.000000  1.000000  1.000000   8.000000
Customer Type 2   1.000000  0.185185  0.312500  27.000000
Customer Type 3   0.440000  1.000000  0.611111  22.000000
Customer Type 4   1.000000  0.666667  0.800000  18.000000
accuracy          0.626667  0.626667  0.626667   0.626667
macro avg         0.860000  0.712963  0.680903  75.000000
weighted avg      0.835733  0.626667  0.590426  75.000000


Classifier: Logistic Regression
Classification Report:
                 precision    recall  f1-score    support
Customer Type 1   1.000000  1.000000  1.000000   8.000000
Customer Type 2   0.771429  1.000000  0.870968  27.000000
Customer Type 3   1.000000  0.636364  0.777778  22.000000
Customer Type 4   1.000000  1.000000  1.000000  18.000000
accuracy          0.893333  0.893333  0.893333   0.893333
macro avg         0.942857  0.909091  0.912186  75.000000
weighted avg      0.917714  0.893333  0.888363  75.000000

C:\Users\PTPL0125\AppData\Local\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\PTPL0125\AppData\Local\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\PTPL0125\AppData\Local\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\PTPL0125\AppData\Local\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Classifier: Gradient Boosting
Classification Report:
                 precision    recall  f1-score    support
Customer Type 1   1.000000  1.000000  1.000000   8.000000
Customer Type 2   1.000000  0.185185  0.312500  27.000000
Customer Type 3   0.407407  1.000000  0.578947  22.000000
Customer Type 4   1.000000  0.444444  0.615385  18.000000
accuracy          0.573333  0.573333  0.573333   0.573333
macro avg         0.851852  0.657407  0.626708  75.000000
weighted avg      0.826173  0.573333  0.536684  75.000000

,monthnum,year,cust id,units,cost_per_unit,sales_cost,staff_qty,per_staff,staff_cost,Customer_type,Best_Predictions_2022
0,1,2022,1101,15,25000,375000,28,225,6300,1,1
1,2,2022,1101,25,28000,700000,32,250,8000,2,2
2,3,2022,1101,27,30000,810000,36,275,9900,3,3
3,4,2022,1101,38,45000,1710000,4,75,300,4,4
4,5,2022,1101,21,25000,525000,8,100,800,2,2
...,...,...,...,...,...,...,...,...,...,...,...
70,11,2022,1111,22,35000,770000,40,300,12000,3,2
71,7,2022,1112,55,35000,1925000,12,125,1500,4,4
72,8,2022,1112,21,35000,735000,16,150,2400,2,2
73,9,2022,1112,24,34000,816000,20,175,3500,3,3
74,12,2022,1112,10,30000,300000,16,150,2400,1,1

In [3]:
data

,monthnum,month,year,categories,cust id,description,region,units,cost_per_unit,sales_cost,staff_qty,per_staff,staff_cost,Customer_type
0,1,January,2021,Reciprocating compressors,1101,These are positive displacement compressors th...,India,35,45000,1575000,5,100,500,4
1,2,February,2021,Rotary screw compressors,1101,Rotary screw compressors use a pair of interlo...,USA,55,25000,1375000,10,150,1500,4
2,3,March,2021,Oil free compressors,1101,ELGi offers oil-free compressors that are desi...,Europe,40,35000,1400000,15,200,3000,4
3,4,April,2021,Centrifugal compressors,1101,Centrifugal compressors use a rotating impelle...,Middle east,20,23000,460000,20,250,5000,2
4,5,May,2021,High-pressure compressors,1101,ELGi manufactures high-pressure compressors ca...,Southeast asia,25,34000,850000,25,300,7500,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,10,October,2021,Customized solutions,1110,ELGi can also provide customized compressor so...,USA,45,35000,1575000,50,550,27500,4
57,11,November,2021,Centrifugal compressors,1110,Centrifugal compressors use a rotating impelle...,South America,23,23000,529000,16,150,2400,2
58,12,December,2021,High-pressure compressors,1110,ELGi manufactures high-pressure compressors ca...,China,13,34000,442000,20,175,3500,1
59,11,November,2021,Centrifugal compressors,1111,Centrifugal compressors use a rotating impelle...,South America,23,23000,529000,16,150,2400,2
60,12,December,2021,High-pressure compressors,1112,ELGi manufactures high-pressure compressors ca...,China,13,34000,442000,20,175,3500,1

In [4]:
dataset

,monthnum,month,year,categories,cust id,description,region,units,cost_per_unit,sales_cost,staff_qty,per_staff,staff_cost,Customer_type
0,1,January,2021,Reciprocating compressors,1101,These are positive displacement compressors th...,India,35,45000,1575000,5,100,500,4
1,2,February,2021,Rotary screw compressors,1101,Rotary screw compressors use a pair of interlo...,USA,55,25000,1375000,10,150,1500,4
2,3,March,2021,Oil free compressors,1101,ELGi offers oil-free compressors that are desi...,Europe,40,35000,1400000,15,200,3000,4
3,4,April,2021,Centrifugal compressors,1101,Centrifugal compressors use a rotating impelle...,Middle east,20,23000,460000,20,250,5000,2
4,5,May,2021,High-pressure compressors,1101,ELGi manufactures high-pressure compressors ca...,Southeast asia,25,34000,850000,25,300,7500,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,11,November,2022,Customized solutions,1111,ELGi can also provide customized compressor so...,USA,22,35000,770000,40,300,12000,3
132,7,July,2022,Oil free compressors,1112,ELGi offers oil-free compressors that are desi...,USA,55,35000,1925000,12,125,1500,4
133,8,August,2022,Centrifugal compressors,1112,Centrifugal compressors use a rotating impelle...,South America,21,35000,735000,16,150,2400,2
134,9,September,2022,High-pressure compressors,1112,ELGi manufactures high-pressure compressors ca...,China,24,34000,816000,20,175,3500,3
135,12,December,2022,Centrifugal compressors,1112,Centrifugal compressors use a rotating impelle...,Europe,10,30000,300000,16,150,2400,1

In [5]:
data1

,monthnum,month,year,categories,cust id,description,region,units,cost_per_unit,sales_cost,staff_qty,per_staff,staff_cost,Customer_type
61,1,January,2022,Low pressure compressors,1101,These compressors are designed for application...,Middle east,15,25000,375000,28,225,6300,1
62,2,February,2022,Gas compressors,1101,ELGi also provides gas compressors for compres...,Southeast asia,25,28000,700000,32,250,8000,2
63,3,March,2022,Compressed air system,1101,ELGi offers complete compressed air solutions...,Africa,27,30000,810000,36,275,9900,3
64,4,April,2022,Reciprocating compressors,1101,These are positive displacement compressors th...,Australia,38,45000,1710000,4,75,300,4
65,5,May,2022,Rotary screw compressors,1101,Rotary screw compressors use a pair of interlo...,South America,21,25000,525000,8,100,800,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,11,November,2022,Customized solutions,1111,ELGi can also provide customized compressor so...,USA,22,35000,770000,40,300,12000,3
132,7,July,2022,Oil free compressors,1112,ELGi offers oil-free compressors that are desi...,USA,55,35000,1925000,12,125,1500,4
133,8,August,2022,Centrifugal compressors,1112,Centrifugal compressors use a rotating impelle...,South America,21,35000,735000,16,150,2400,2
134,9,September,2022,High-pressure compressors,1112,ELGi manufactures high-pressure compressors ca...,China,24,34000,816000,20,175,3500,3
135,12,December,2022,Centrifugal compressors,1112,Centrifugal compressors use a rotating impelle...,Europe,10,30000,300000,16,150,2400,1

In [29]:
data_2022_sp

,monthnum,year,cust id,units,cost_per_unit,sales_cost,staff_qty,per_staff,staff_cost
61,1,2022,1101,15,25000,375000,28,225,6300
62,2,2022,1101,25,28000,700000,32,250,8000
63,3,2022,1101,27,30000,810000,36,275,9900
64,4,2022,1101,38,45000,1710000,4,75,300
65,5,2022,1101,21,25000,525000,8,100,800
...,...,...,...,...,...,...,...,...,...
131,11,2022,1111,22,35000,770000,40,300,12000
132,7,2022,1112,55,35000,1925000,12,125,1500
133,8,2022,1112,21,35000,735000,16,150,2400
134,9,2022,1112,24,34000,816000,20,175,3500
135,12,2022,1112,10,30000,300000,16,150,2400

In [30]:
data_2022_trgt

61     1
62     2
63     3
64     4
65     2
      ..
131    3
132    4
133    2
134    3
135    1
Name: Customer_type, Length: 75, dtype: int64

In [32]:
best_predictions_2022_df

    Best_Predictions_2022
0                       1
1                       2
2                       3
3                       4
4                       2
..                    ...
70                      2
71                      4
72                      2
73                      3
74                      1

[75 rows x 1 columns]

In [26]:
len(data_2022_sp.values.flatten())

675

In [22]:
data_2022_trgt

61     1
62     2
63     3
64     4
65     2
      ..
131    3
132    4
133    2
134    3
135    1
Name: Customer_type, Length: 75, dtype: int64

In [23]:
best_predictions_2022

array([1, 2, 3, 4, 2, 4, 4, 2, 2, 3, 4, 2, 4, 4, 2, 3, 2, 2, 3, 4, 2, 4,
       4, 2, 3, 2, 4, 2, 4, 4, 2, 3, 2, 2, 4, 4, 2, 3, 2, 2, 1, 4, 4, 2,
       3, 2, 2, 1, 4, 2, 3, 2, 2, 1, 2, 3, 2, 2, 1, 3, 2, 2, 1, 3, 2, 2,
       1, 2, 3, 2, 2, 4, 2, 3, 1], dtype=int64)